<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>HM_Service</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddPeople</display-name>
    <servlet-name>AddPeople</servlet-name>
    <servlet-class>in.gov.pc.fyp.hm.service.AddPeople</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPeople</servlet-name>
    <url-pattern>/AddPeople</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetPeople</display-name>
    <servlet-name>GetPeople</servlet-name>
    <servlet-class>in.gov.pc.fyp.hm.service.GetPeople</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPeople</servlet-name>
    <url-pattern>/GetPeople</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddAddress</display-name>
    <servlet-name>AddAddress</servlet-name>
    <servlet-class>in.gov.pc.fyp.hm.service.AddAddress</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAddress</servlet-name>
    <url-pattern>/AddAddress</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAddress</display-name>
    <servlet-name>GetAddress</servlet-name>
    <servlet-class>in.gov.pc.fyp.hm.service.GetAddress</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAddress</servlet-name>
    <url-pattern>/GetAddress</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddPeopleWeb</display-name>
    <servlet-name>AddPeopleWeb</servlet-name>
    <servlet-class>in.gov.pc.fyp.hm.web.AddPeopleWeb</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPeopleWeb</servlet-name>
    <url-pattern>/AddPeopleWeb</url-pattern>
  </servlet-mapping>
</web-app>